:root {
    --default-mark-color: rgba(203, 27, 27, 0.75);
}

#profile-msg-container {
    display: flex;
    flex-wrap: wrap;
}

.profile-mark {
    background-color: var(--default-mark-color);
}

.profile-msg {
    padding: 0.5em;
    white-space: pre-wrap;
    background-color: var(--default-mark-color);
    font-family: system-ui;
}