:root {
    --default-mark-color: rgba(203, 27, 27, 0.75);
}

.profile-label {
    background-color: var(--default-mark-color);
    margin: 0 0.5em;
    font-family: system-ui;
}

.profile-mark {
    background-color: var(--default-mark-color);
}

.profile-mark-msg {
    padding: 0.5em;
    white-space: pre-wrap;
    background-color: var(--default-mark-color);
    font-family: system-ui;
}