/* html {
    width: max-content;
    height: max-content;
} */

body {
    font-size: 1rem;
}

section, section > * {
    margin-bottom: 0.25em;
}

.center {
    text-align: center;
}

#user-name {
    font-weight: 500;
}

#user-data {
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#options {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 0.25em 0.5em;
    font-size: 0.75em;
}

#report {
    margin: 1rem;
    font-size: 1.3em;
    background-color: #ff6a6a;
}